@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Luckiest Guy', cursive;
  background-color: #E6E6EA;
}

header{
  background: #FE4A49;
}

p {
  color: gold;
}


.container{
  width: 95%;
  margin: auto;
}

.nav{
  overflow: hidden;
  background:#FE4A49;
  color: #fff;
  padding: 20px 0;
}

.nav h2{
  font-size: 2rem;
  /* float: none; */
  text-align: center;
}

ol h3 {
font-size: 1.5rem;
text-align: center;
}


nav ul{
  list-style-type: none;
}

nav li{
  font-size: 1.3rem;
  margin-top: 5px;
  float: right;
  display: inline-block;
  padding: 0 15px;
}

nav a{
  text-decoration: none;
  color: #fff;
}



.current a::after{
  content: '-';
  font-size: 4px;
  background-color: white;
  display: block;
}

.wrapper{
  display: grid;
  grid-template-columns: 82% 18%;
}

.equation{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.9);
  font-size: 5.2vw;
  background: #fff;
  border-radius: 3px;
  text-align: center;
  margin: 10px 10px 0px 10px;
}

.equation h1{
  display: inline;
  padding: 20px;
}

.answer-options{
  font-size: 5.2vw;
  margin-right: 10px;
}

.options{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  transition: 2s;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.9);
}

@media(max-width:768px){
  .nav h2{
    font-size: 1.5rem;
    float: none;
    text-align: center;
  }


  nav{
    float: none;
    display: flex;
    justify-content: center;
  }

  nav li{
    font-size: 1rem;
  }
}

@media(max-width:480px){
  .nav h2{
    float: none;
    text-align: center;
  }

  .equation h1{
    display: inline;
    padding: 10px;
  }

  nav li{
    font-size: .8rem;
  }

}

/* well done message */
.well-done {
  font-size: 5rem;
  color: blue;
  text-align: center;
  display: none;
}

.well-done img {
  height: 200px;
  padding-top: 10px;
}

@media (max-width:510px) {
  .well-done img {
    height: 100px;
  }
}

/* Styling for star score */
#stars li {
  padding: 0 5px;
  display: inline-block;
  }

@media(max-width:480px){
  #stars{
    float: none;
  }
}

@media(max-width:768px){
  #stars{
  font-size: 1.5rem;
  position: relative;
  width: 51%;   /*This changes the center for star score */
  margin: auto;
  }
}

.small-star {
  height: 30px;
  display: inline-block;
}

.star-number {
  float: left;
}


/* styling for completion message after reaching 100 stars. */
.all-stars {
  color: blue;
  text-align: center;
  display: none;
  padding-top: 50px;
}

@media(max-width:1800px){
  .all-stars img{
    height: 100px;
    padding: 0 20px;
  }

@media(max-width:510px){
  .all-stars img{
    height: 25px;
    padding: 0 5px;
  }
}

@media(max-width:1800px){
   .all-stars p {
    font-size: 2rem;
  }
}

@media(max-width:510px){
    .all-stars p {
    font-size: 1rem;
  }
}

  @media(max-width:1800px){
    .all-stars h4{
      font-size: 5rem;
    }
  }

@media(max-width:510px){
   .all-stars h4{
    font-size: 2rem;
  }
}

/* styling for well done message.  */
.well-done {
  color: blue;
  text-align: center;
  display: none;
  padding-top: 50px;
}


@media(max-width:1800px){
   .well-done p {
    font-size: 2rem;
  }
}

@media(max-width:510px){
    .well-done p {
    font-size: 1rem;
  }
}

  @media(max-width:1800px){
    .well-done h4{
      font-size: 5rem;
    }
  }

@media(max-width:510px){
   .well-done h4{
    font-size: 2rem;
  }
}
